body {
  background-color: aquamarine;
}

.search-form {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  flex-basis: calc(100% / 5);
  margin: 5px;
  border-radius: 10px;
}

img {
  display: block;
  width: 320;
  height: 220;
  overflow: hidden;
}

.info {
  background-color: burlywood;
  display: flex;
  padding: 5px;
}
